<h1>Administration</h1>

<table id="config_table" class="table table-hover table-responsive animate-bottom">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div id="loading"></div>

  <form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Key" id="key">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Value" id="value">
    </div>
    <button type="button" class="btn btn-default" onclick="insertValue()">Add/Edit</button>
  </form>


<script src="../javascripts/config-operations.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', loadValues, false); 

</script>