<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>WheresApp - {{title}}</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css">

    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-storage.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/2.4.0/firebase-ui-auth__en.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/2.4.0/firebase-ui-auth.css" />

    <script src="javascripts/loader.js"></script>

    <script>
        var config = {
            apiKey: "AIzaSyB-cEHM2J3HLHoiDN79Yt-X8CVdkWclceU",
            authDomain: "tracker-53924.firebaseapp.com",
            databaseURL: "https://tracker-53924.firebaseio.com",
            storageBucket: "tracker-53924.appspot.com",
        };
        firebase.initializeApp(config);
    </script>

</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Wheres App</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        </div>
    </div>
    </nav>
    <!-- End of Header -->

    <!-- Content -->
    <div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-12 text-left"> 
            {{{body}}}
        </div>
    </div>
    </div>
    <!-- End of Content -->

    <!-- Footer -->
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
    <!-- End of Footer -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>