<h1>Example App: Home</h1>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Welcome back {{userOBJECT.phoneNumber}}</h4>
  <p>{{userJSON}}</p>
  <hr>
  <p class="mb-0">JSON</p>
</div>